* {
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
}
body{
    background: #4d0170;
    /* background-image: url(images/download.jpeg);
    background-repeat: no-repeat;
    background-size:cover; */
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* ---------------------------------------------------------------------------------------------------------------- */

/* Opening page */

/* ---------------------------------------------------------------------------------------------------------------- */

.finSmart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(./images/opb.svg) no-repeat center fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

.start {
  margin-top: 200px;
  align-items: center;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  writing-mode: horizontal-tb;
  padding: 10px 20px;
  margin: 5px;
  width: auto;
  height: auto;
  background: none;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-top: 10%;
  border-color: #732982;
  font-size: 200%;

}

.btn:hover {
  /* background-image: linear-gradient(90deg, #380052 0%, #b522ff7b 49%, #b522ffab 80%, #380052 100%); */
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #ffffff;
}

@keyframes slidebg {
  0% {
    background-position: 0% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

/* ---------------------------------------------------------------------------------------------------------------- */

/* User Authentication Page */

/* ---------------------------------------------------------------------------------------------------------------- */
.user {
  background: url(../src/images/lpb2.svg) no-repeat center fixed;
  background-color: rgb(59, 10, 84);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 100px;
  background: rgb(71, 9, 121);
  background: linear-gradient(180deg, rgba(71, 9, 121, 0.5149782325039391) 0%, rgba(71, 9, 121, 0.5121771120557599) 3%, rgba(71, 9, 121, 0.5177793529521184) 97%, rgba(71, 9, 121, 0.49256926891850494) 100%);
  border-radius: 3%;
  width: 400px;
  height: 400px;

}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.status-container {
  display: flex;
  gap: 20%;
  justify-content: center;
}

.stroke {
  width: 2px;
  height: 30px;
  background-color: rgb(255, 255, 255);
}

.status,
.status2 {
  margin-top: -5px;
  font-size: 12px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -130px;
  font-weight: bold;
}

.logo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: auto;
  margin: 0 auto;
  margin-top: 0 auto;
  margin-bottom: -150px;
}

input {
  display: flex;
  flex-direction: column;
  background: none;
  outline: none;
  border-color: #732982;
  width: 300px;
  margin: 0 auto;
  padding: 7px 15px;
  border: 1px solid #732982;
  border-radius: 4px;
}

.email-field {
  margin-top: 20%;
  margin-bottom: 30px;
  background: none;
}

.password-field {
  margin-top: 50px;
}

.signup {
  margin-bottom: -20px;
  margin-top: 60px;
}

.email-field2 {
  margin-top: -5%;
  margin-bottom: 20px;
  background: none;
}

.password-field2 {
  margin-top: 20px;
}

.repeat-password-field {
  margin-top: 20px;
}

.submit {
  margin: 0 auto;
  margin-top: 90px;
  background: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #c95fe1;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  /* background-image: linear-gradient(90deg, #380052 0%, #b522ff7b 49%, #b522ffab 80%, #380052 100%); */
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #ffffff;
}

@keyframes slidebg {
  0% {
    background-position: 0% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

/* ---------------------------------------------------------------------------------------------------------------- */

/* Navigation Bar */

/* ---------------------------------------------------------------------------------------------------------------- */

.logo2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  margin-left: 40px;
}



/* ---------------------------------------------------------------------------------------------------------------- */

/* Budgets Page */

/* ---------------------------------------------------------------------------------------------------------------- */

.FinValuesI{
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  font-size: 30px;
  position:absolute;
  margin: -34px;
  margin-left:170px;
  flex-direction: column;
    text-shadow:
        0 0 5px #68c7ea,
        0 0 10px #84d6ff,
        0 0 20px #000000,
        0 0 40px rgb(1, 16, 16),
        0 0 80px rgb(0, 0, 0),
        0 0 90px rgb(0, 0, 0),
        0 0 4px rgb(0, 0, 0),
        0 0 3px rgb(2, 0, 0);
  }
    .FinValuesE {
      font-family: "Jersey 15", sans-serif;
      font-weight: 400;
      font-style: normal;
      display: flex;
      font-size: 30px;
      margin-top: 50px;
      position: absolute;
      margin-left: 190px;
      flex-direction: column;
      text-shadow:
        0 0 5px #68c7ea,
        0 0 10px #84d6ff,
        0 0 20px #000000,
        0 0 40px rgb(1, 16, 16),
        0 0 80px rgb(0, 0, 0),
        0 0 90px rgb(0, 0, 0),
        0 0 4px rgb(0, 0, 0),
        0 0 3px rgb(2, 0, 0);
    }

 .Exps{
  background-color: #42869787;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
 }

 .close-modal{
  display: flex;
  justify-content: flex-start;
      position: relative;
        display: inline-block;
        padding: 10px 6px;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-decoration: none;
        font-size: 12px;
        overflow: hidden;
        transition: 0.1s;
        background: none;
        border:  1px solid #c603fc;
        border-radius: 2px;
        margin-top: 30px;
        margin-left: 170px;
 }
 .close-modal:hover {
   color: #ffffff;
   background: #f321216c;
   box-shadow: 0 0 10px #fa6565, 0 0 40px #f3212145, 0 0 80px #ffffff68;
   transition-delay: 0s;
 }
 .save-data{
    display: flex;
      justify-content: flex-start;
      position: absolute;
      display: inline-block;
      padding: 10px 6px;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-decoration: none;
      font-size: 12px;
      overflow: hidden;
      transition: 0.1s;
      background: none;
      border: 1px solid #c603fc;
      border-radius: 2px;
      margin-top: 30px;
      margin-left: -100px;
 }
 .save-data:hover {
   color: #ffffff;
   background: #ffffff8d;
   box-shadow: 0 0 10px #5af1f6, 0 0 40px #9bddf39d, 0 0 80px #ffffffab;
   transition-delay: 0s;
 }
/* ---------------------------------------------------------------------------------------------------------------- */

/* Expense List */

.ExpensesTable {
  width: 90%;
  border-collapse: collapse;
  background:none;
  color: #fff;
}

.ExpensesTable th,
.ExpensesTable td {
  padding: 6px;
  text-align: center;
}

.ExpensesTable thead th {
  background-color: #e17cff28;
  font-weight: bold;
  border-bottom: 1px solid #8e44ad;
font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  text-shadow:
      0 0 5px #68c7ea,
      0 0 10px #84d6ff,
      0 0 20px #000000,
      0 0 40px rgb(1, 16, 16),
      0 0 80px rgb(0, 0, 0),
      0 0 90px rgb(0, 0, 0),
      0 0 4px rgb(0, 0, 0),
      0 0 3px rgb(2, 0, 0);
}

.ExpensesTable h4 {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Jersey 15", sans-serif;
    font-weight: 400;
}

.deleteItems {
  font-family: "Jersey 15", sans-serif;
    font-weight: 400;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f0195e;
  
}

.deleteItems:hover {
  opacity: 0.8;
}


.ExpensesTable th:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  box-shadow: 0 1px 5px rgba(179, 7, 138, 0.299);
  transition: 0.3s ease-in-out;
}

.ExpensesTable th:hover:after {
  box-shadow: 0 1px 10px rgba(142, 68, 173, 1);
}

.ExpensesTable tbody tr:last-child td {
  background-color: #e799ff32;
  font-weight: bold;
  text-align: right;
  font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    text-shadow:
        0 0 5px #68c7ea,
        0 0 10px #ffffff,
        0 0 20px #ffffff,
        0 0 40px rgb(1, 16, 16),
        0 0 80px rgb(0, 0, 0),
        0 0 90px rgb(0, 0, 0),
        0 0 4px rgb(0, 0, 0),
        0 0 3px rgb(2, 0, 0);
}




/* ---------------------------------------------------------------------------------------------------------------- */

/* Accounts Page */

/* ---------------------------------------------------------------------------------------------------------------- */

.Acc{

    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    font-size: 30px;
    margin-top: -280px;
    position: fixed;
    margin-right: 800px;
    flex-direction: column;
    text-shadow:
      0 0 5px #68c7ea,
      0 0 10px #84d6ff,
      0 0 20px #000000,
      0 0 40px rgb(1, 16, 16),
      0 0 80px rgb(0, 0, 0),
      0 0 90px rgb(0, 0, 0),
      0 0 4px rgb(0, 0, 0),
      0 0 3px rgb(2, 0, 0);

}
.AccountsTable {
  width: 90%;
  border-collapse: collapse;
  background: none;
  color: #fff;
}

.AccountsTable th,
.AccountsTable td {
  padding: 6px;
  text-align: center;
}

.AccountsTable thead th {
  background-color: #e17cff28;
  font-weight: bold;
  border-bottom: 1px solid #8e44ad;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  text-shadow:
    0 0 5px #68c7ea,
    0 0 10px #84d6ff,
    0 0 20px #000000,
    0 0 40px rgb(1, 16, 16),
    0 0 80px rgb(0, 0, 0),
    0 0 90px rgb(0, 0, 0),
    0 0 4px rgb(0, 0, 0),
    0 0 3px rgb(2, 0, 0);
}

.AccountsTable h4 {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
}
.AccountsTable th:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  box-shadow: 0 1px 5px rgba(179, 7, 138, 0.299);
  transition: 0.3s ease-in-out;
}

.AccountsTable th:hover:after {
  box-shadow: 0 1px 10px rgba(142, 68, 173, 1);
}

.AccountsTable tbody tr:last-child td {
  background-color: #e799ff32;
  font-weight: bold;
  text-align: right;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  text-shadow:
    0 0 5px #68c7ea,
    0 0 10px #ffffff,
    0 0 20px #ffffff,
    0 0 40px rgb(1, 16, 16),
    0 0 80px rgb(0, 0, 0),
    0 0 90px rgb(0, 0, 0),
    0 0 4px rgb(0, 0, 0),
    0 0 3px rgb(2, 0, 0);
}
/* ---------------------------------------------------------------------------------------------------------------- */

/* Progress Bar Component */

/* ---------------------------------------------------------------------------------------------------------------- */


