* {
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
}
body{
    background: #4d0170;
    /* background-image: url(images/download.jpeg);
    background-repeat: no-repeat;
    background-size:cover; */
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* ---------------------------------------------------------------------------------------------------------------- */

/* Opening page */

/* ---------------------------------------------------------------------------------------------------------------- */

.finSmart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(./images/opb.svg) no-repeat center fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

.start {
  margin-top: 200px;
  align-items: center;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  writing-mode: horizontal-tb;
  padding: 10px 20px;
  margin: 5px;
  width: auto;
  height: auto;
  background: none;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-top: 10%;
  border-color: #732982;
  font-size: 200%;

}

.btn:hover {
  /* background-image: linear-gradient(90deg, #380052 0%, #b522ff7b 49%, #b522ffab 80%, #380052 100%); */
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #ffffff;
}

@keyframes slidebg {
  0% {
    background-position: 0% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

/* ---------------------------------------------------------------------------------------------------------------- */

/* User Authentication Page */

/* ---------------------------------------------------------------------------------------------------------------- */
.user {
  background: url(../src/images/lpb2.svg) no-repeat center fixed;
  background-color: rgb(59, 10, 84);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 100px;
  background: rgb(71, 9, 121);
  background: linear-gradient(180deg, rgba(71, 9, 121, 0.5149782325039391) 0%, rgba(71, 9, 121, 0.5121771120557599) 3%, rgba(71, 9, 121, 0.5177793529521184) 97%, rgba(71, 9, 121, 0.49256926891850494) 100%);
  border-radius: 3%;
  width: 400px;
  height: 400px;

}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 390px;
position: absolute;
}

.status-container {
  display: flex;
  gap: 10%;
  justify-content: center;
    position: fixed;
}

.stroke {
  width: 2px;
  height: 30px;
  color: rgb(25, 6, 6);
  font-weight: bold;
}

.status,
.status2 {
  margin-top: -5px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -240px;
  font-weight: bold;
  /* position: absolute; */
}

.logo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: -150px;
  z-index: -99px;
}
.wmga{
  background: none;
  border: none;
  outline: none;
  font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
    text-shadow:
        0 0 5px #68c7ea,
        0 0 10px #84d6ff,
        0 0 20px #000000,
        0 0 40px rgb(1, 16, 16),
        0 0 80px rgb(0, 0, 0),
        0 0 90px rgb(0, 0, 0),
        0 0 4px rgb(0, 0, 0),
        0 0 3px rgb(2, 0, 0);
}
input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  outline: none;
  border-color: #732982;
  width: 300px;
  margin: 0 auto;
  padding: 7px 15px;
  border: 1px solid #732982;
  border-radius: 4px;
}

.email-field {
margin-top: 60px;
margin-bottom: 40px;
  background: none;
}

.password-field {
  margin-top: 20px;
    margin-bottom: 20px;
}

.signup {
margin-top: 20px;
margin-bottom: 20px;
}

.email-field2 {
margin-top: 80px;
  margin-bottom: 20px;
}
.password-field2 {
  margin-top: 20px;
    margin-bottom: 20px;
}

.repeat-password-field {
  margin-top: 20px;
    margin-bottom: 20px;
} 

.submit {
  margin: 0 auto;
  position: absolute;
  margin-top: 20px;
  margin-left: -50px; 
  margin-bottom: 20px;
  background: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border: 1px solid #c95fe1;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  /* background-image: linear-gradient(90deg, #380052 0%, #b522ff7b 49%, #b522ffab 80%, #380052 100%); */
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #ffffff;
}

@keyframes slidebg {
  0% {
    background-position: 0% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

/* ---------------------------------------------------------------------------------------------------------------- */

/* Navigation Bar */

/* ---------------------------------------------------------------------------------------------------------------- */

.logo2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  margin-left: 40px;
}



/* ---------------------------------------------------------------------------------------------------------------- */

/* Budgets Page */

/* ---------------------------------------------------------------------------------------------------------------- */


/* Income */
/* ---------------------------------------------------------------------------------------------------------------- */
.totalsIE{
  display: flex;
  justify-content: center;
  padding: 3px;
}
.totalIERow{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 7px;
  padding:22px 40px;
  gap: 4px;
}
.totalHeading{
  font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    color: #ffffff;
    font-weight: 600;
    font-style: bold;
    border:groove #ffffff;
    padding: 3px 6px;

}
.totalValue{
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-style: bold;
  border: groove #ffffff;
  border-left:none;
  padding: 4px 6px;

}
.incomeHeading{
font-size: 21px;
  display: flex;
  margin-top: 19px;
  margin-bottom: 14px;
  flex-direction: column;
}

.incomeExpenseLabel{
  font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
    margin: 3px;
    font-size: 17px;
    align-items: center;
text-shadow:
    0 0 5px hsl(313, 100%, 90%),
    0 0 10px #efd7ff,
    0 0 20px #000000,
    0 0 40px rgb(1, 16, 16),
    0 0 80px rgb(0, 0, 0),
    0 0 90px rgb(0, 0, 0),
    0 0 4px rgb(0, 0, 0),
    0 0 3px rgb(2, 0, 0);

}

.incomeTiltle{
  display: flex;
  gap: 16px;
  text-shadow:
      0 0 5px #80259b,
      0 0 10px #b784ff,
      0 0 20px #000000,
      0 0 40px rgb(1, 16, 16),
      0 0 80px rgb(0, 0, 0),
      0 0 90px rgb(0, 0, 0),
      0 0 4px rgb(0, 0, 0),
      0 0 3px rgb(2, 0, 0);
}
.incomeLabelName{
    font-size: 27px;
      margin: -6.5px;
      font-family: "Syne", sans-serif;
      font-optical-sizing: auto;
      font-weight: bold;
      font-style: normal;
      
}
.incomeRow{
    display: flex;
      padding: 6px 35px;
      gap: 8px;
}
.incomeDetailHeadings{
  font-size: 16px;
    display: flex;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    justify-content: flex-start;
    font-weight: bold;
    padding: 0px;
    margin: 1px;
    text-shadow:
      0 0 5px #dcf4fd,
      0 0 10px #efd7ff,
      0 0 20px #000000,
      0 0 40px rgb(1, 16, 16),
      0 0 80px rgb(0, 0, 0),
      0 0 90px rgb(0, 0, 0),
      0 0 4px rgb(0, 0, 0),
      0 0 3px rgb(2, 0, 0);
}
.incomeDetails{
  font-size: 14px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: light;
    font-style: normal;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    margin: 3px;
}
.close-modal{
  display: flex;
  justify-content: flex-start;
      position: relative;
        display: inline-block;
        padding: 10px 6px;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-decoration: none;
        font-size: 12px;
        overflow: hidden;
        transition: 0.1s;
        background: none;
        border:  1px solid #c603fc;
        border-radius: 2px;
        margin-top: 30px;
        margin-left: 170px;
 }
 .close-modal:hover {
   color: #ffffff;
   background: #f321216c;
   box-shadow: 0 0 10px #fa6565, 0 0 40px #f3212145, 0 0 80px #ffffff68;
   transition-delay: 0s;
 }
 .save-data{
    display: flex;
      justify-content: flex-start;
      position: absolute;
      display: inline-block;
      padding: 10px 6px;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-decoration: none;
      font-size: 12px;
      overflow: hidden;
      transition: 0.1s;
      background: none;
      border: 1px solid #c603fc;
      border-radius: 2px;
      margin-top: 30px;
      margin-left: -100px;
 }
 .save-data:hover {
   color: #ffffff;
   background: #ffffff8d;
   box-shadow: 0 0 10px #5af1f6, 0 0 40px #9bddf39d, 0 0 80px #ffffffab;
   transition-delay: 0s;
 }
/* ---------------------------------------------------------------------------------------------------------------- */

/* Expense List */
/* .incomeList{} */
.expenseHeading{
  font-size: 21px;
    display: flex;
    margin-top: 19px;
    margin-bottom: 14px;
    flex-direction: column;
}
.expenseTitle{
  display: flex;
    gap: 16px;
    text-shadow:
      0 0 5px #80259b,
      0 0 10px #b784ff,
      0 0 20px #000000,
      0 0 40px rgb(1, 16, 16),
      0 0 80px rgb(0, 0, 0),
      0 0 90px rgb(0, 0, 0),
      0 0 4px rgb(0, 0, 0),
      0 0 3px rgb(2, 0, 0);
}
.expenseNameLabel{
  font-size: 27px;
    margin: -6.5px;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.expenseRow{
display: flex;
  padding: 6px 35px;
  gap: 8px;
 
}
.expenseLabel{
  font-size: 16px;
    display: flex;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    justify-content: flex-start;
    font-weight: bold;
    padding: 0px;
    margin: 1px;
    text-shadow:
      0 0 5px #dcf4fd,
      0 0 10px #efd7ff,
      0 0 20px #000000,
      0 0 40px rgb(1, 16, 16),
      0 0 80px rgb(0, 0, 0),
      0 0 90px rgb(0, 0, 0),
      0 0 4px rgb(0, 0, 0),
      0 0 3px rgb(2, 0, 0);
}
.expenseValue{
  font-size: 14px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: light;
    font-style: normal;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    margin: 3px;
}
.deleteItems {
  width: 80px;
    display: flex;
    margin-left: 700px;
    padding: 4px 0px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-decoration: none;
    overflow: hidden;
    /* transition: 0.1s; */
    background: none;
    border: solid 1px #c4081584;
    margin-bottom: 10px;
    transition: transform .2s;
    
}

.deleteItems:hover {
  color: #ffffff;
    transition-delay: 0s;
    transform: scale(1.5);
      background: #ffffff00;
        box-shadow: 0 0 10px #f65a5a, 0 0 40px #f0152f9d, 0 0 80px #3b015aab;
}









/* ---------------------------------------------------------------------------------------------------------------- */

/* Accounts Page */

/* ---------------------------------------------------------------------------------------------------------------- */

.Acc{
font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
    display: flex;
    font-size: 30px;
    margin-right: 800px;
      flex-direction: row;
    position: absolute;
    text-shadow:
      0 0 5px #fc21ea,
      0 0 10px #84d6ff,
      0 0 20px #000000,
      0 0 40px rgb(1, 16, 16),
      0 0 80px rgb(0, 0, 0),
      0 0 90px rgb(0, 0, 0),
      0 0 4px rgb(0, 0, 0),
      0 0 3px rgb(2, 0, 0);

}
.acctHeading {
  font-size: 27px;
  display: flex;
  margin-top: 7px;
  flex-direction: column;
  text-shadow:
    0 0 5px #80259b,
    0 0 10px #b784ff,
    0 0 20px #000000,
    0 0 40px rgb(1, 16, 16),
    0 0 80px rgb(0, 0, 0),
    0 0 90px rgb(0, 0, 0),
    0 0 4px rgb(0, 0, 0),
    0 0 3px rgb(2, 0, 0);

}
.acctName{
  display: flex;
  gap: 9px;
}
.acctNameLabel{
    font-size: 27px;
  margin:1px;
  font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.acctDetailRow {
  display: flex;
  padding: 7px 30px;
  gap: 8px;
}

.acctDetailsHeadings {
  font-size: 16px;
  display: flex;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  justify-content: flex-start;
  font-weight: bold;
  padding: 0px;
  margin: 1px;
  text-shadow:
    0 0 5px #dcf4fd,
    0 0 10px #efd7ff,
    0 0 20px #000000,
    0 0 40px rgb(1, 16, 16),
    0 0 80px rgb(0, 0, 0),
    0 0 90px rgb(0, 0, 0),
    0 0 4px rgb(0, 0, 0),
    0 0 3px rgb(2, 0, 0);
}

.acctDetails {
    font-size: 14px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: light;
  font-style: normal;
  display:flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin: 3px;
  /* margin: 0 auto; */

}
.acctHistory{
  width: 80px;
  display: flex;
  margin-left: 700px;
    padding: 4px 0px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.1s;
    background: none;
    border: 1px solid #f358ebb3;
    gap:2px;
}
.acctHistory:hover {
  color: #ffffff;
  background: #64106d5e;
  box-shadow: 0 0 10px #f00094, 0 0 40px #d71ffc9d, 0 0 80px #d000ffab;
  transition-delay: 0s;
}
.historyBtnLabel{
  font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
    margin: 1.7px;
    font-size: 10px;
}
.acctName {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
/* ---------------------------------------------------------------------------------------------------------------- */

/* Progress Bar Component */

/* ---------------------------------------------------------------------------------------------------------------- */
.budgetLabel{

    text-shadow:
      0 0 5px #68c7ea,
      0 0 10px #84d6ff,
      0 0 20px #000000,
      0 0 40px rgb(1, 16, 16),
      0 0 80px rgb(0, 0, 0),
      0 0 90px rgb(0, 0, 0),
      0 0 4px rgb(0, 0, 0),
      0 0 3px rgb(2, 0, 0);
}
.budgetLabels{
font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-size: 14px;
  display:block;
  z-index: index 99px;;
  flex-direction: column;
  margin-left:400px;
  padding: 1px;
  margin:1px;
  text-shadow:
      0 0 5px #dcf4fd,
      0 0 10px #efd7ff,
      0 0 20px #000000,
      0 0 40px rgb(1, 16, 16),
      0 0 80px rgb(0, 0, 0),
      0 0 90px rgb(0, 0, 0),
      0 0 4px rgb(0, 0, 0),
      0 0 3px rgb(2, 0, 0);

}

.label{
  font-size: 13px;
  font-weight: bold;
  display: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-inline-end: 40px;
  padding: 8px;
  margin: 0 auto;
}

/* ---------------------------------------------------------------------------------------------------------------- */

/* Balance Component */
/* ---------------------------------------------------------------------------------------------------------------- */
.totalsAndDonughts{
  display: flex;
  margin-bottom: 30px;
}
.budgetData{
    display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 157px;
      align-items: center;
      width: 240px;
      height:170px;
      margin-top: 90px;
      background: rgb(59, 10, 84);
      color: "#05f7d3";
      border-radius: 9px;
      padding: 4px;
      box-shadow: 0px 5px 10px 0px rgba(255, 40, 223, 0.5),
        0 0 20px rgba(255, 255, 255, 0.2);
}
.budgetDataRow{
  display: flex;
  gap: 30px;
  padding: 13px;
  border-bottom: solid 1px rgba(54, 185, 218, 0.37);
}
.labelBudget{
  font-size: 22px;
    font-family: "Syne", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      text-shadow:
          0 0 5px #dcf4fd,
          0 0 10px #8818d3,
          0 0 20px #000000,
          0 0 40px rgb(1, 16, 16),
          0 0 80px rgb(0, 0, 0),
          0 0 90px rgb(0, 0, 0),
          0 0 4px rgb(0, 0, 0),
          0 0 3px rgb(2, 0, 0);
}
.labelBudgetAmount{
  font-size: 17px;
  font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 3px;
}

.dataCardCategoryCard {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 176px;
  margin-left: 28px;
  margin-top: 90px;
    background: rgb(59, 10, 84);
    /* color: "#05f7d3"; */
    border-radius: 9px;
    padding: 1px;
    box-shadow: 0px 5px 10px 0px rgba(40, 241, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.2);
}
.doughnutComponent{
  width: 200px;
  display: flex;
  margin-top: -35px;
  margin-left:50px;
}
/* Account Section Dashboard */
/* ---------------------------------------------------------------------------------------------------------------- */
.dashboardAccountSection{
  display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    margin-left: 20px;
    margin-top: 90px;
    background: rgb(59, 10, 84);
    color: "#05f7d3";
    border-radius: 9px;
    padding: 1px;
box-shadow: 0px 5px 10px 0px rgba(255, 40, 223, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
}
.dashboardAccountHeading{
  margin-top: 12px;
  display: flex;
  margin-left: 6px;
  gap: 10px;
  font-size: 22px;
  text-shadow:
      0 0 5px #dcf4fd,
      0 0 10px #8818d3,
      0 0 20px #000000,
      0 0 40px rgb(1, 16, 16),
      0 0 80px rgb(0, 0, 0),
      0 0 90px rgb(0, 0, 0),
      0 0 4px rgb(0, 0, 0),
      0 0 3px rgb(2, 0, 0);
 
}
.accountDashboardLabel{
  display: flex;
  margin-left: 12px;
  border-bottom:solid #9507a19e;
  font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-shadow:
        0 0 5px #dcf4fd,
        0 0 10px #8818d3,
        0 0 20px #000000,
        0 0 40px rgb(1, 16, 16),
        0 0 80px rgb(0, 0, 0),
        0 0 90px rgb(0, 0, 0),
        0 0 4px rgb(0, 0, 0),
        0 0 3px rgb(2, 0, 0);
}
.dashboardAccountName{
  font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 3px
}
.dashboardAccountRows{
  display: flex;
  margin-top: 2px;
  margin-left: 9px;
  justify-content: flex-start;
  gap: 100px;
}
.dashboardAccountField{
  font-size: 13px;
  font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-shadow:
        0 0 5px #dcf4fd,
        0 0 10px #8818d3,
        0 0 20px #000000,
        0 0 40px rgb(1, 16, 16),
        0 0 80px rgb(0, 0, 0),
        0 0 90px rgb(0, 0, 0),
        0 0 4px rgb(0, 0, 0),
        0 0 3px rgb(2, 0, 0);

}
.dashboardAccountValue{
    font-size: 13px;
    font-family: "Space Grotesk", sans-serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
      display: flex;
      text-shadow:
          0 0 5px #ffffff,
          0 0 10px #2bff00,
          0 0 20px #000000,
          0 0 40px rgb(1, 16, 16),
          0 0 80px rgb(0, 0, 0),
          0 0 90px rgb(0, 0, 0),
          0 0 4px rgb(0, 0, 0),
          0 0 3px rgb(2, 0, 0);
}
/* ---------------------------------------------------------------------------------------------------------------- */

/* Income Statement */
/* ---------------------------------------------------------------------------------------------------------------- */
.incomeStatementLabel{
  font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    text-shadow:
        0 0 5px #c3f9fc,
        0 0 10px #f9cdfd,
        0 0 20px #000000,
        0 0 40px rgb(1, 16, 16),
        0 0 80px rgb(0, 0, 0),
        0 0 90px rgb(0, 0, 0),
        0 0 4px rgb(0, 0, 0),
        0 0 3px rgb(2, 0, 0);
}
.topRow{
  display: block;
  margin: 4px;
  margin-top: 10px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  text-shadow:
        0 0 5px #c3f9fc,
        0 0 10px #f9cdfd,
        0 0 20px #000000,
        0 0 40px rgb(1, 16, 16),
        0 0 80px rgb(0, 0, 0),
        0 0 90px rgb(0, 0, 0),
        0 0 4px rgb(0, 0, 0),
        0 0 3px rgb(2, 0, 0);
}
.budgetTitle{
font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  margin: 8px;
  font-weight: 600;
  font-style: bold;
  font-size: 19px;
  text-shadow:
    0 0 5px #d5f7f8,
    0 0 10px #f9cdfd,
    0 0 20px #000000,
    0 0 40px rgb(1, 16, 16),
    0 0 80px rgb(0, 0, 0),
    0 0 90px rgb(0, 0, 0),
    0 0 4px rgb(0, 0, 0),
    0 0 3px rgb(2, 0, 0);
    border-width: 30px;
    border-color: #5af1f6;
}
.finTotals{
 margin: 0 auto;
}
.finValues{
display: flex;
  align-items: center;
  font-weight: light;
  margin: 0 auto;
  border: thin;
  text-decoration: underline;
  padding: 5px;
}
.categoryLabels{
display: flex;
flex-wrap: wrap;
  align-items: center;
  margin: 15px;
  margin-right: 500px;
  /* background: rgb(169, 219, 255); */
  /* background: linear-gradient(90deg, rgba(169, 219, 255, 0.8567149271818102) 0%, rgba(255, 255, 255, 1) 47%, rgba(229, 187, 255, 1) 100%); */
  padding: 1px 10px;
  /* border-radius: 11px; */
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-size: 14px;
  text-shadow:
    0 0 5px #c3f9fc,
    0 0 10px #f9cdfd,
    0 0 20px #000000,
    0 0 40px rgb(1, 16, 16),
    0 0 80px rgb(0, 0, 0),
    0 0 90px rgb(0, 0, 0),
    0 0 4px rgb(0, 0, 0),
    0 0 3px rgb(2, 0, 0);
    text-decoration: wavy;
}
.financialInfo{
  margin-right: 400px;
  font-weight:lighter;
  font-size:17px;
}
.incomeBox{
  padding: 8px;
  margin-bottom: 20px;
}
/* ---------------------------------------------------------------------------------------------------------------- */

/* Settings page */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ----------Category Section */
.catHeading{
  font-size: 27px;
    display: flex;
    margin-top: 17px;
    margin-bottom: -70px;
    gap: 1px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow:
      0 0 5px #80259b,
      0 0 10px #b784ff,
      0 0 20px #000000,
      0 0 40px rgb(1, 16, 16),
      0 0 80px rgba(249, 215, 215, 0),
      0 0 90px rgba(0, 0, 0, 0.637),
      0 0 4px rgb(0, 0, 0),
      0 0 3px rgb(2, 0, 0);
}
.catName{
  font-size: 27px;
    margin: 0px;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.addCatBtn{
width: 93px;
  display: flex;
  margin-left: 780px;
  margin-top: -60px;
  padding: 4px 0px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.1s;
  background: none;
  border: 1px solid #f358ebb3;
}
.addCatBtn:hover {
  color: #ffffff;
  background: #a910485e;
  box-shadow: 0 0 10px #ae02a0, 0 0 40px #9e0c859d, 0 0 80px #d40155ab;
  transition-delay: 0s;
}
.addCatLabel{
  font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
    margin: 1.7px;
    font-size: 10px;
}
.categoryList{
display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 7px;
  margin-top: -50px;
  flex-wrap: wrap;
  padding: 7px;
}
.categoryContainer{
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  padding: 7px;
    margin: 7px;
    gap: 7px;
}
.categoryDivLabel{
  font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
    margin: 2 px;
}
.editCategory{
  background: none;
  border:none;
  outline: none;
    transition: transform .2s;
}
.editCategory:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition-delay: 0s;

}
/* ----------Subcategory Section */
.subCatHeading{
font-size: 27px;
display: flex;
margin-top: 17px;
margin-bottom:-70px;
gap: 1px;
align-items: center ;
justify-content: center;
flex-direction: column;
text-shadow:
    0 0 5px #80259b,
    0 0 10px #b784ff,
    0 0 20px #000000,
    0 0 40px rgb(1, 16, 16),
    0 0 80px rgba(249, 215, 215, 0),
    0 0 90px rgba(0, 0, 0, 0.637),
    0 0 4px rgb(0, 0, 0),
    0 0 3px rgb(2, 0, 0);
}

.subcatName{
  font-size: 27px;
    margin: 0px;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.addSubCatBtn{
    width: 110px;
    display: flex;
    margin-left: 780px;
    margin-top: -27px;
    padding: 4px 0px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.1s;
    background: none;
    border: 1px solid #3b00fab3;
}
.addSubCatBtn:hover{
  color: #ffffff;
    background: #15218a5e;
    box-shadow: 0 0 10px #89aafe, 0 0 40px #5038ba9d, 0 0 80px #537df9ab;
    transition-delay: 0s;
}
.subCatBtnLabel{
  font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
    margin: 1.7px;
    font-size: 10px;
}
.categoryLabelContainer {
  display: flex;
  gap:4px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  margin-right:700px;
  padding: 4px;
  border:3px dotted;
  border-radius: 2px;
  /* background-image: linear-gradient(109.6deg, rgba(101, 58, 150, 1) 29.9%, rgba(168, 141, 194, 1) 99.9%); */
  
}
.subCatCategoryLabel{
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: light;
  font-style: normal;
  margin: 2 px;
  
}
.subCatList{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 19px;
  flex-wrap: wrap;
 
}
.subCatContainer{
display: flex;
flex-direction: row;
justify-content: flex-start;
gap:7px;
padding: 7px;
margin: 11px;
border-radius: 6px;
border-image: linear-gradient(#9819f8, #6d027e) 20;
  border-width: 2px;
  border-style:ridge;
}
.subCatLabel{
  font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-size: 15px;
    display:flex;
    margin: 4px;
}
.deleteCategory{
  background: none;
  border: none;
  outline: none;
  transition: transform .2s;
}
.deleteCategory:hover{
  cursor: pointer;
    transform: scale(1.5);
    transition-delay: 0s;

}